#container {
    height: 80vh;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

#drum-machine {
    width: 57%;
    height: 95%;
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    padding: 30px;
    background-color: rgb(242, 238, 209);
    clip-path: polygon(
        5% 0,   /* Top-left corner */
        95% 0,  /* Top-right corner */
        100% 5%, /* Top-right corner */
        100% 95%, /* Bottom-right corner */
        95% 100%, /* Bottom-right corner */
        5% 100%, /* Bottom-left corner */
        0 95%, /* Bottom-left corner */
        0 5% /* Top-left corner */
    );
}

#left-col {
    display: flex;
    flex-direction: column;
    gap: 2em;
    
}

#display-container {
    position: relative;
    border: 1px solid black;
    min-width: 380px;
    height: 160px;
    display: flex;
    padding: 10px;
    background-color: rgb(58, 56, 56);
    clip-path: polygon(
        5% 0,   /* Top-left corner */
        95% 0,  /* Top-right corner */
        100% 5%, /* Top-right corner */
        100% 95%, /* Bottom-right corner */
        95% 100%, /* Bottom-right corner */
        5% 100%, /* Bottom-left corner */
        0 95%, /* Bottom-left corner */
        0 5% /* Top-left corner */
    );
    margin-bottom: -30px;
}

#inner-display {
    background-color: black;
    margin: auto;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#display {
    height: 80%;
    width: 80%;
    background-color: rgba(67, 252, 150, 0.58);
    padding: 5px;
    text-align: center;
    align-content: center;
    font-family: "Genos", sans-serif;
    font-size: 32pt;
}

#logo {
    position: relative;
    height: 150px;
    width: 100%;
    padding: 10px;
    margin-top: -85px;
    top: 10px;
}

#akai-logo {
    width: 250px;
}

#logo-div {
    position: absolute;
    margin-top: -186px;
    margin-left: 270px;
    font-family: "Genos", sans-serif;
    font-size: 36pt;
    width: auto;
}

#midi {
    font-size: 15.8pt;
    margin-left: 0px;
    margin-top: -3px;
}

#line {
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, black 50%, #bc012dea 50%);
}



#right-col {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    align-items: center;
}


#drum-pad {
    padding: 40px 30px 40px 30px;
    border: 1px solid black;
    width: 420px;
    height: 45.2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: darkgrey;
    border-radius: 2px;
    margin-left: 25px;
}

.drum-pad {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    text-align: center;
    align-content: center;
    background-color: rgb(134, 133, 133);
    border-radius: 4px;
    font-family: "Genos", sans-serif;
    font-size: 0pt;
    color: transparent;
    box-shadow: 2.5px 2.5px 5px .5px #000000;
    cursor: pointer;
    
}

.pressed {
    transition: background-color 0.1s ease;
    /* background-color: rgba(213, 229, 236, 0.935); */
    box-shadow: 2.5px 2.5px 5px .5px darkgrey;
    
}

#dials {
    min-width: 45%;
    height: 69%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#dials-top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

#dials-bottom {
    /* border: 1px solid black; */
    width: 110%;
    height: 50%;
    margin-top: 60px;
    margin-left: -40px;
}

#bottom-left {
    border: 1px solid black;
    margin-left: 7px;
    width: 70px;
    height: 210px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    gap: 1em;
}

#power-light {
    border: 0.5px solid black;
    width: 5px;
    height: 5px; 
    border-radius: 60px;
}

#power-button {
    position: relative;
    border: .5px solid black;
    width: 25px;
    height: 20px;
    border-radius: 4px;
    background-color: rgb(30, 30, 30);
    left: 135px;
    bottom: 20px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#power-button:hover {
    background-color: rgba(171, 170, 170, 0.237);
}



#volume-container { 
    transform: rotate(630deg);
    margin-top: 60px;
    margin-left: -5px;
}


.volume-slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 120px; /* Full-width */
    height: 5px; /* Height of the slider */
    background: black; /* Track color */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s; /* 0.2 seconds transition on hover */
    border-radius: 5px; /* Rounded corners */
    margin-right: 20px;
  }
  
  /* Mouse-over effects */
  .volume-slider:hover {
    opacity: 1; /* Fully shown on hover */
  }
  
  /* The slider handle (the thumb) */
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Handle width */
    height: 40px; /* Handle height */
    /* background: beige; */
    cursor: grabbing; /* Mouse pointer on hover */
    border: .5px solid black;
    border-radius: 4px;
    box-shadow: -1.25px 1.25px 2.5px .5px #000000;
    background-image: url('../public/blue-line.png');
    background-size: 20px;
    
  }

  .volume-slider::-webkit-slider-thumb:hover {
    background-color: #f3f4c8;
  }
  
  .volume-slider::-moz-range-thumb {
    width: 20px; /* Handle width */
    height: 40px; /* Handle height */
    background: beige; /* Handle color */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 2px; /* Rounded handle */
    border: .5px solid black;
    border-radius: 2px;
  }
    

.on {
    background-color: rgb(125, 205, 7);;
}

.off {
    background-color: red;
}

#display-border {
    border: 0.1px solid black;
    height: 87%;
    width: 95.5%;
    padding: 5px;
}

#display-spans {
    display: flex;
    flex-direction: column;

}

#time {
    position: absolute;
    font-size: 20px;
    margin-left: 195px;
    margin-top: -9px;

}

#display-text {
    position: absolute;
    font-size: 32px;
    margin-left: 90px;
    width: auto;
    height: 50px;
    margin-top: 15px;
    
}

#volume {
    position: absolute;
    margin-top: 70px;
    margin-left: 175px;
    font-size: 20px;
    height: 20px;
}

#data-text {
    position: absolute;
    font-size: 12px;
    margin-top: 78px;
}

#rec-gain-text {
    position: absolute;
    font-size: 12px;
    margin-top: 68px;
}

#data-knob {
    position: relative;
    border: 3px solid black;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    top: 100px;
    left: 192.5px;
    background-color: rgb(58, 56, 56);
    display: flex;
    transform: rotate(382deg);
    box-shadow: 1.25px 1.25px 5px .5px #000000;
}

#inner-knob {
    border: 2px solid black;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    display: flex;
    margin: auto;
    box-shadow: 1.25px 1.25px 15px .5px #000000;
    background-color: rgb(50, 48, 48);
    z-index: 1;
}

#knob {
    border: 2px solid black;
    background-color: rgb(58, 56, 56);
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-top: -15px;
    margin-left: 7.5px;
    box-shadow: 1.25px 1.25px 5px .5px #000000;
}

#H {
    position: relative;
    font-size: 55px;
    top: -115px;
    left: 22px;
    margin-left: -40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: #bc012dea;
}

#f-numbers {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.9em;
}

.f-number {
    border: 1px solid black;
    border-radius: 2px;
    width: 35px;
    height: 12px;
    background-color: beige;
    box-shadow: 1.25px 1.25px 2.5px .5px #000000;
}

.f-labels {
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    width: 20px;
    left: 8px;
    bottom: 30px;
    border: 0.5px solid black;
    text-align: center;
    background-color: darkgrey;
    
}

#blue-buttons-container {
    position: absolute;
    height: 200px;
    width: 200px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    align-content: center;
    justify-content: center;
    margin-left: -30px;
    text-align: center;
    margin-top: 70px;
    
}

.blue-buttons {
    border: 0.5px solid black;
    height: 12px;
    width: 40px;
    border-radius: 2px;
    background-color: rgb(6, 104, 184);
    box-shadow: 1.25px 1.25px 2.5px .5px #000000;
    margin-bottom: 4px;
    
}

.white-button {
    border: 0.5px solid black;
    height: 12px;
    width: 40px;
    border-radius: 2px;
    background-color: beige;
}

.shift {
    background-color: darkgrey;
    height: auto;
    width: auto;
    padding:3px;
    margin-left: -10px;
    margin-top: -15px;
    border-radius: 2px;
    font-size: 5pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.no-shift {
    background-color: transparent;
}

.blue-button-label-spans {
    height: auto;
    width: auto;
    background-color: darkgrey;
}

#above-data-dial {
    position: absolute;
    height: 200px;
    width: 200px;
    margin-left: 170px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em
    
}

.above-dd-btns {
    border: 0.5px solid black;
    height: 16px;
    width: 45px;
    border-radius: 2px;
    margin-top: -40px;
    font-size: 6pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

#main-screen-label {
    position: absolute;
    margin-top: -14px;
    margin-left: -4px;
}

#main-screen-button {
    background-color: beige;
    box-shadow: 1.25px 1.25px 2.5px .5px #000000;
}

#open-window-label {
    position: absolute;
    margin-top: -14px;
    margin-left: -4px;
}

#open-window-button {
    background-color: orange;
    box-shadow: 1.25px 1.25px 2.5px .5px #000000;
}

#data {
    position: absolute;
    height: 80px;
    width: 80px;
    text-align: center;
    margin-top: 100px;
    font-size: 6pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bottom-left-top {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#note-variation {
    margin-top: -52px;
    text-align: center;
    font-size: 6pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(242, 238, 209);
    width: auto;
    padding: 2px;
}

#after {
    text-align: center;
    font-size: 6pt;
    margin-bottom: -5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bottom-left-button {
    border: 0.5px solid black;
    width: 40px;
    height: 18px;
    border-radius: 3px;
    background-color: beige;
    box-shadow: 1.25px 1.25px 2.5px .5px #000000;
}

#bottom-left-right-bottom {
    position: absolute;
    height: 35px;
    width: 340px;
    margin-left: 78px;
    margin-top: -33px;
}

#bottom-left-right-bottom-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}

.bottom-left-right-bottom-row-2-buttons {
    border: 0.5px solid black;
    height: 30px;
    width: 40px;
    border-radius: 2px;
    text-align: center;
    font-size: 6pt;
    background-color: beige;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1.25px 1.25px 2.5px .5px #000000;
}

#rec {
    position: absolute;
    margin-top: -19.5px;
    margin-left: -13px;
    width: 40px;
}

#over-dub {
    position: absolute;
    margin-top: -25px;
    margin-left: -7px;
}

#stop {
    position: absolute;
    margin-top: -20px;
    margin-left: -8px;
}

#play {
    position: absolute;
    margin-top: -20px;
    margin-left: -5px;
}

#play-start {
    position: absolute;
    margin-top: -25px;
    margin-left: -11px;
}

#rec-light {
    position: absolute;
    border: 0.5px solid black;
    width: 5px;
    height: 5px; 
    border-radius: 60px;
    margin-top: -18px;
    margin-left: 10px;
}

#over-dub-light {
    position: absolute;
    border: 0.5px solid black;
    width: 5px;
    height: 5px; 
    border-radius: 60px;
    margin-top: -18px;
    margin-left: 4px;
}

#play-light {
    position: absolute;
    border: 0.5px solid black;
    width: 5px;
    height: 5px; 
    border-radius: 60px;
    margin-top: -18px;
    margin-left: 6px;
}

.red-button {
    background-color: #bc012dea;
}

#bottom-left-right-bottom-row-1 {
    position: absolute;
    border-top: 1px solid black;
    width: 300px;
    height: 50px;
    margin-top: -75px;
    margin-left: 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 2px;
    justify-content: space-evenly;
    gap: 0.5em;
    align-items: center;
}

.bottom-left-right-bottom-row-1-buttons {
    border: 0.5px solid black;
    height: 14px;
    width: 35px;
    border-radius: 2px;
    background-color: beige;
}

#locate {
    position: absolute;
    padding: 2px;
    margin-top: -50px;
    font-size: 6pt;
    background-color: rgb(242, 238, 209);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bottom-line {
    position: absolute;
    width: 100%;
    border-top: 1px solid black;
    top: 877px;
    right: 20px;
}

#top-line {
    position: absolute;
    width: 100%;
    border-top: 1px solid beige;
    right: 20px;
    margin-top: 10px;
    
}

#after-light {
    border: 0.5px solid black;
    width: 5px;
    height: 5px; 
    border-radius: 60px;
}

.after-on {
    background-color: rgb(125, 205, 7);
}

.after-off {
    background-color: black;
}

.rec-on {
    background-color: rgb(125, 205, 7);
}

.rec-off {
    background-color: black;
}

.over-dub-on {
    background-color: rgb(125, 205, 7);
}

.over-dub-off {
    background-color: black;
}

.play-on {
    background-color: rgb(125, 205, 7);
}

.play-off {
    background-color: black;
}



#dial-png {
    position: absolute;
    margin-top: -15px;
    width: 80px;
    margin-left: 1px;
}

#dial-png2 {
    position: absolute;
    margin-top: -15px;
    width: 80px;
    margin-left: 109px;
}

#full-level {
    position: absolute;
    display: flex;
    width: auto;
    align-content: center;
    text-align: center;
    gap: 4em;
    margin-left: 20px;
    margin-top: -15px;
}

.full-level-on {
    background-color: rgb(125, 205, 7);
}

.full-level-off {
    background-color: black;
}

#full-level-span {
    margin-left: -7px;
}

#next-seq-span {
    margin-left: -6px;
}

#next-seq-light {
    position: absolute;
    border: 0.5px solid black;
    width: 5px;
    height: 5px; 
    border-radius: 60px;
    margin-top: 14px;
    margin-left: 12px;
}

#full-level-light {
    position: absolute;
    border: 0.5px solid black;
    width: 5px;
    height: 5px; 
    border-radius: 60px;
    margin-top: 14px;
    margin-left: 10px;
}

.sixteen-levels-on {
    background-color: rgb(125, 205, 7);
}

.sixteen-levels-off {
    background-color: black;
}

#sixteen-levels-light {
    position: absolute;
    border: 0.5px solid black;
    width: 5px;
    height: 5px; 
    border-radius: 60px;
    margin-top: 14px;
    margin-left: 85px;
}

#Aa {
    position: absolute;
    border: 0.5px solid black;
    height: 12px;
    width: 35px;
    background-color: beige;
    top: 28px;
    left: -5px;
    border-radius: 2px;
    box-shadow: 1.25px 1.25px 2.5px .5px #000000;
}

#space {
    position: absolute;
    border: 0.5px solid black;
    height: 12px;
    width: 35px;
    background-color: beige;
    top: 28px;
    left: 69px;
    border-radius: 2px;
    box-shadow: 1.25px 1.25px 2.5px .5px #000000;
}

#Aa-span {
    position: absolute;
    right: 10px;
    top: 17px;
    color: rgb(242, 238, 209);
}

#Aa-span {
    position: absolute;
    right: 10px;
    top: 17px;
    color: rgb(242, 238, 209);
}

#space-span {
    position: absolute;
    right: 5px;
    top: 17px;
    color: rgb(242, 238, 209);
}

#panel-top-right {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 10px;
}


.viewport-box{
    padding: 10px;
    margin-left: 5px;
}

.volume-dial, .rec-gain-dial{
    width: 50px;
    height: 50px;
    background: rgb(242, 238, 209);
    position: relative;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 1.25px 1.25px 8px .5px #000000;
}

.indicator {
    width: 5px;
    height: 30px;
    border: 0.1px solid black;
    border-top: none;
    background: darkgrey;
    position: absolute;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%);
}

.dial-inner {
    width: 35px;
    height: 32px;
    background: rgb(242, 238, 209);
    position: absolute;
    border-radius: 50%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 0.5px solid #000;
    top: 6px;
    box-shadow: 1.25px 1.25px 7px .5px #000000;
}
  
.data-dial {
    background-color: rgb(58, 56, 56);
}

#min-max {
    margin-left: 104px;
    margin-top: 58px;
    width: 90px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6px;
}

#min-max2 {
    margin-left: -4px;
    margin-top: 58px;
    width: 90px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6px;
}

#panel-top-right-labels {
    
    margin-left: 22px;
    margin-top: -95px;
    width: 155px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8px;
}

#dial-png3 {
    position: absolute;
    transform: rotate(-22.5deg);
    margin-top: 2.5px;
    margin-left: 3px;
    width: 145px;
}



#panel {
    border: 1px solid black;
    height: 155px;
    width: 480px;
    background-color: darkgrey;
    margin-left: 25px;
    margin-top: 15px;
}

#panel-top {
    width: 91.6%;
    height: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 5em;
}

#panel-top-left {
    border: 0.5px solid black;
    width: 140px;
    height: 45px;
    font-size: 6pt;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2em;
    background-color: rgb(242, 238, 209);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1px;
}

#panel-bottom {
    
    width: 95.6%;
    height: 29%;
    padding: 10px;
    display: flex;
    margin-top: -10px;
}

#panel-bottom-left {
    border: 0.5px solid black;
    width: 145px;
    height: 45px;
    font-size: 6pt;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2em;
    background-color: rgb(242, 238, 209);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1px;
    margin-left: 8px;
}

#panel-bottom-right {
    width: 300px;
    font-size: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1px;
    margin-left: 10px;
    margin-top: 15px;

}

#pad-bank-label {
    position: absolute;
    margin-top: -22px;
    margin-left: 120px;
    padding: 2px;
    background-color: darkgrey;
}

#pad-bank-line {
    margin-top: -17px;
}

#pad-bank-buttons {
    
    width: 160%;
    height: 100%;
    margin-left: -180px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 1.5em;
}

.pad-bank-buttons {
    border: 0.5px solid black;
    width: 35px;
    height: 12px;
    margin-top: 23.5px;
    background-color: beige;
    border-radius: 2px;
    box-shadow: 1.25px 1.25px 2.5px .5px #000000;
}

#pad-bank-labels {
    
    width: 295px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    gap: 4.5em;
    margin-left: -7.5px;
    margin-top: -12px;
}

#pad-bank-a-light, #pad-bank-b-light, #pad-bank-c-light, #pad-bank-d-light {
    position: absolute;
    border: 0.5px solid black;
    width: 5px;
    height: 5px; 
    border-radius: 60px;
    margin-top: 5px;
    
}

.pad-bank-a-on, .pad-bank-b-on, .pad-bank-c-on, .pad-bank-d-on{
    background-color: rgb(125, 205, 7);
}

.pad-bank-a-off, .pad-bank-b-off, .pad-bank-c-off, .pad-bank-d-off {
    background-color: #000;
}

#pad-bank-top-border {
    position: absolute;
    border-top: 1px solid black;
    width: 280px;
    margin-top: -15px;
}

.red-button {
    cursor: pointer;
}